body{
	margin: 0px;
	background-color: #3A4D56;
	font-family: Arial, Helvetica, sans-serif;
}
/*
body, .wrapper, .container, dd ,.container div {
	height:100%;IE fallback for the image height
}*/
.wrapper{
	width: 100%;
	max-width: 360px;
	margin: 10px auto;
}

.container{
	background-color: #D4D4D4;
	padding: 20px;
	min-height: 100vh;
}

.header{
	height: 40px;
	background-color: #FF6654;
	border-radius: 10px 10px 0px 0px;
	padding: 10px;
}

.header button{
	margin: 10px;
	border: 1px solid transparent;
	background-color: transparent;
	cursor: pointer;
}
.menu-bar{
	background-color: white;
	display: block;
	width: 30px;
	height: 4px;
	margin-top: 6px;
	border-radius: 2px;
}
.menu-bar:first-child{
	margin-top: 3px;
}
.menu-bar:last-child{
	margin-bottom: 3px;
}

.round-div{
	margin: 10px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: #C7F04B;
}

.container dt{
	cursor: pointer;
	margin-top: 4px;
	background-color: white;
	margin-bottom: 4px;
}

.container dd{
	display: block;
	max-height: 0px;
	overflow: hidden;
	margin-left: 0px;
	background-color: white;
	transition: all 2s ease;
}
.container dd img{
	height: 100%;
	width: 100%;
	float: left;
}

.container .news-desc{
	background-color: white;
	padding: 20px 10px 10px 10px;
	float: left;
}

.container dt:after, .container dd:after {
  content: "";
  display: table;
  clear: both;
}

.container h5{
	text-transform: uppercase;
	font-weight: bold;
	color: gray;
}
.container dt h5{
	margin: 10px 5px 10px 0px;
}

.container dd h5{
	margin-top: 0px;
}

.container p{
	color: #A5A5A5;
}

/****************************/
.is-showing{
	max-height: 1000px !important;
	-webkit-animation: show-me 1s; /* Safari 4+ */
	-moz-animation:    show-me 1s; /* Fx 5+ */
	-o-animation:      show-me 1s; /* Opera 12+ */
	animation:         show-me 1s; /* IE 10+, Fx 29+ */
}

@keyframes show-me {
  0% {
    /*transform: translateY(0%);
    opacity: 0;*/
    max-height: 0px;
  }
  55% {
    /*transform: translateY(10%);
    opacity: 1;*/
    max-height: 300px;
  }
  70% {
    /*transform: translateY(10%);
    opacity: 1;*/
    max-height: 250px;
  }

  100% {
    /*transform: translateY(0);*/
    max-height: 500px;
    opacity: 1;
  }
}

.is-hidden{
	-webkit-animation: hide-me 1s; /* Safari 4+ */
	-moz-animation:    hide-me 1s; /* Fx 5+ */
	-o-animation:      hide-me 1s; /* Opera 12+ */
	animation:         hide-me 1s; /* IE 10+, Fx 29+ */
}

@keyframes hide-me {
  0% {
    max-height: 400px;
    
  }
  25% {
    /*transform: translateY(10%);
    opacity: 1;*/
    max-height: 300px;
  }
  45% {
  	transform: translateY(0);
    max-height: 0px;
  }

  65% {
  	transform: translateY(-20px);
  }

  75% {
  	 max-height: 20px;
  }

  100% {
    transform: translateY(0);
    max-height: 0px;
  }
}
/****************************/

[class*='grid-'] {
  /*float: left;}*/
  display: table-cell;
  vertical-align: middle;
  /*height:100%;IE fallback for the image height*/
}

.accordion{
	margin: 0px;
}

.grid-30{
	width: 30%;
}

.grid-70{
	width: 70%;
}

.grid-40{
	width: 40%;
}

.grid-60{
	width: 60%;
}

