body{
	margin: 0px;
	background-color: #3A4D56;
	font-family: Arial, Helvetica, sans-serif;
}
/*
body, .wrapper, .container, dd ,.container div {
	height:100%;IE fallback for the image height
}*/
.wrapper{
	width: 100%;
	max-width: 360px;
	margin: 10px auto;
	overflow: hidden;
}

#titleContainer{
	color: white;
	font-size: large;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
	text-transform: uppercase;
	max-width: 100px;
}
.container{
	background-color: #D4D4D4;
	padding: 20px;
	min-height: 100vh;
}

.header{
	height: 40px;
	background-color: #FF6654;
	border-radius: 10px 10px 0px 0px;
	padding: 10px;
}

.header button{
	float: left;
	margin: 10px;
	border: 1px solid transparent;
	background-color: transparent;
	cursor: pointer;
}
.menu-bar{
	background-color: white;
	display: block;
	width: 30px;
	height: 4px;
	margin-top: 6px;
	border-radius: 2px;
}
.menu-bar:first-child{
	margin-top: 3px;
}
.menu-bar:last-child{
	margin-bottom: 3px;
}

.round-div{
	margin: 10px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: #C7F04B;
}

.container dt{
	cursor: pointer;
	margin-top: 4px;
	background-color: white;
	margin-bottom: 4px;
	transform: translateX(-20px);
    opacity: 0;
    visibility: hidden;
}

.container dl dt:nth-of-type(1){transition: all 0.3s ease;}
.container dl dt:nth-of-type(2){transition: all 0.5s ease;}
.container dl dt:nth-of-type(3){transition: all 0.7s ease;}
.container dl dt:nth-of-type(4){transition: all 0.9s ease;}
.container dl dt:nth-of-type(5){transition: all 1.1s ease;}
.container dl dt:nth-of-type(6){transition: all 1.3s ease;}
/*
.container dl dt:nth-of-type(1){-webkit-animation-delay: 0.3s;}
.container dl dt:nth-of-type(2){-webkit-animation-delay: 0.5s;}
.container dl dt:nth-of-type(3){-webkit-animation-delay: 0.7s;}
.container dl dt:nth-of-type(4){-webkit-animation-delay: 0.9s;}
.container dl dt:nth-of-type(5){-webkit-animation-delay: 1.1s;}
.container dl dt:nth-of-type(6){-webkit-animation-delay: 1.3s;}
*/
/*set the dd's oppacity and transform as well to add them to the slide in effect*/
.container dd{
	transform: translateX(-20px);
    opacity: 0;
	display: block;
	max-height: 0px;
	overflow: hidden;
	margin-left: 0px;
	background-color: white;
	transition: all 2s ease;
}
.container dd img{
	height: 100%;
	width: 100%;
	float: left;
}

.container .news-desc{
	background-color: white;
	padding: 20px 10px 10px 10px;
	float: left;
}

.container dt:after, .container dd:after {
  content: "";
  display: table;
  clear: both;
}

.container h5{
	text-transform: uppercase;
	font-weight: bold;
	color: gray;
}
.container dt h5{
	margin: 10px 5px 10px 0px;
}

.container dd h5{
	margin-top: 0px;
}

.container p{
	color: #A5A5A5;
}

/****************************/
.is-showing{
	max-height: 1000px !important;
	-webkit-animation: show-me 1s; /* Safari 4+ */
	-moz-animation:    show-me 1s; /* Fx 5+ */
	-o-animation:      show-me 1s; /* Opera 12+ */
	animation:         show-me 1s; /* IE 10+, Fx 29+ */
}

@keyframes show-me {
  0% {
    /*transform: translateY(0%);
    opacity: 0;*/
    max-height: 0px;
  }
  55% {
    /*transform: translateY(10%);
    opacity: 1;*/
    max-height: 300px;
  }
  70% {
    /*transform: translateY(10%);
    opacity: 1;*/
    max-height: 250px;
  }

  100% {
    /*transform: translateY(0);*/
    max-height: 500px;
    opacity: 1;
  }
}

.is-hidden{
	-webkit-animation: hide-me 1s; /* Safari 4+ */
	-moz-animation:    hide-me 1s; /* Fx 5+ */
	-o-animation:      hide-me 1s; /* Opera 12+ */
	animation:         hide-me 1s; /* IE 10+, Fx 29+ */
}

@keyframes hide-me {
  0% {
    max-height: 400px;
    
  }
  25% {
    /*transform: translateY(10%);
    opacity: 1;*/
    max-height: 300px;
  }
  45% {
  	transform: translateY(0);
    max-height: 0px;
  }

  65% {
  	transform: translateY(-20px);
  }

  75% {
  	 max-height: 20px;
  }

  100% {
    transform: translateY(0);
    max-height: 0px;
  }
}
/****************************/

.container dt.show-titles{
  /* this is just another form of hiding an element */
	transform: translateX(0px);
	opacity: 1;
	visibility: visible;
	/*-webkit-animation: show-dt 1s forwards; /* Safari 4+ */
	/*-moz-animation:    show-dt 1s forwards; /* Fx 5+ */
	/*-o-animation:      show-dt 1s forwards; /* Opera 12+ */
	/*animation:         show-dt 1s forwards; /* IE 10+, Fx 29+ */
	
}
.container dd.show-titles{
	transform: translateX(0px);
	opacity: 1;
}
.container dt.show-titles-not{
  /* this is just another form of hiding an element 
	transform: translateX(-30px);
	opacity: 0;*/
	-webkit-animation: hide-dt 1s forwards; /* Safari 4+ */
	-moz-animation:    hide-dt 1s forwards; /* Fx 5+ */
	-o-animation:      hide-dt 1s forwards; /* Opera 12+ */
	animation:         hide-dt 1s forwards; /* IE 10+, Fx 29+ */
}

@keyframes show-dt {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  75%{
  	transform: translateX(0px);
    opacity: 1;
    width: calc(100%+20px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
    width: calc(100%);
  }
}

@keyframes hide-dt {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(-20px);
    opacity: 0;
  }
}


/****************************/

[class*='grid-'] {
  /*float: left;}*/
  display: table-cell;
  vertical-align: middle;
  /*height:100%;IE fallback for the image height*/
}

.accordion{
	margin: 0px;
}

.grid-20{
	width: 20%;
}
.grid-30{
	width: 30%;
}
.grid-40{
	width: 40%;
}
.grid-60{
	width: 60%;
}
.grid-80{
	width: 80%;
}

